<style>
    main {
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
    }

    div > * {
        width: 400px;
        max-height: 350px;
    }
</style>
<main>
    <div>
        <img src="./static/assets/images/m3.jpeg" alt="">
        <img src="./static/assets/images/m2.jpeg" alt="">
    </div>
    <h1>Belum tuntas 100%, mungkin bsok atau lusa</h1>
    <div>
        <img src="./static/assets/images/m4.jpg" alt="">
        <img src="./static/assets/images/m1.jpg" alt="">
    </div>
</main>