{% extends "main-frame.html" %}
{% block head  %}
<title>Halaman Detail Product</title>
<link rel="stylesheet" href="./static/style/detail-product-page.css">

{% endblock  %}

{% block mainContent %}
<main>
    <figure class="product-image">
        
    </figure>

    <section class="product-information">
        
    </section>

    <section class="buy-card">
        <div>
            <p>Jumlah pembelian : </p>
            <input type="number" value="1"> 
            <p>Stok : <span>12</span></p>
        </div>
        <div>
            <p>Catatan : </p>
            <textarea name="" id="" cols="30" rows="10">

            </textarea>
        </div>
        <div>
            <p>Subtotal </p>
            <h4>Rp53.000</h4>
        </div>
        <div>
            <button class="buy-button"><h4>Beli Langsung</h4></button>
            <button class="buy-button"><h4>+ Keranjang</h4></button>
        </div>
    </section>
</main>
{% endblock %}

{% block jsScript %}
<script type="module" src="./static/js/detail-product.js"></script>
{% endblock %}