{% extends "main-frame.html" %}
{% block head  %}
<title>Halaman Beranda</title>
{% endblock  %}

{% block mainContent %}
<main>
    <div class="home-slider-banner">
        <img src="./static/assets/images/home-inner-banner.jpg" alt="" class="featured-image">
    </div>

    <div class="horizontal-slider first-product-slider">
    </div>

    <article class="section-title">
        <h3>Kejar Diskon Spesial</h3>
        <section>
            <p>Berakhir dalam <span class="timer">03:19:11</span> </p>
            <a href="">Lihat Semua</a>
        </section>
    </article>

    <section class="horizontal-slider-wrapper">
        <div class="jargon" style="background-color: #ed171f;">
            <a href="">
                <img src="./static/assets/images/uniqlo-logo.png" alt="">
            </a>
        </div>
        <div class="horizontal-slider second-product-slider">
        
        </div>
    </section>

    <article class="section-title">
        <section>
            <h3>Berdasarkan pencarian</h3>
            <a href="">Lihat Semua</a>
        </section>
    </article>

    <div class="horizontal-slider third-product-slider">
    </div>

    <article class="section-title">
        <section>
            <h3>Lagi trending, nih </h3>
            <a href="">
                <span class="material-symbols-outlined">refresh</span>
                Lihat Semua</a>
        </section>
    </article>

    <section class="popular-keyword">
        <div>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
        </div>
        <div>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
        </div>
        <div>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
            <popkeyword-card></popkeyword-card>
        </div>
        

    </section>


    <article class="section-title">
        <section>
            <h3>Serbu di Kotamu!</h3>
            <a href="">Lihat Semua</a>
        </section>
    </article>


    <section class="horizontal-slider-wrapper">
        <div class="jargon" style="background-color: #f7f7f7;">
            <a href="">
                <img src="./static/assets/images/zara.png" alt="">
            </a>
        </div>
        <div class="horizontal-slider forth-product-slider">
        </div>
    </section>


    <hr>


    <article class="section-title">
        <section>
            <h3>Temukan barang kebutuhanmu!</h3>
        </section>
    </article>

    <div class="bundle">
    </div>

    


</main>
{% endblock %}

{% block jsScript %}
    <script type="module" src="./static/components/popkeywordCard/popkeyword-card.js"></script>
    <script type="module" src="./static/components/productCard/product-card.js"></script>
    <script type="module" src="./static/js/home.js"></script>
{% endblock %}